assignment2/mckinley_raw_reads.txt
assignment2/scott_mouse_cDNAs.fa
/home/assignments/assignment8/SNV_indel.biallelic.vcf
/home/assignments/assignment8/sv.reclassed.filtered.vcf
assignment8/SNV_indel.biallelic.vcf
assignment8/SNV_indel.biallelic.vcf
